.login{
    margin-top: 300px;
    width: 40%;
}

.btn{
    margin-bottom: 15px;
}
.logo-theme-box{
    text-align: center;
    vertical-align: middle;
    background: #f2f2f2;
    height: 80px;
    padding: 20px;
}

.logo-theme-box-ic{
    text-align: center;
    vertical-align: middle;
    background: #f2f2f2;
    height: 80px;
    padding: 10px;
}
.user-ic{
    margin-top: 10px;
    width: 40px;
    height: 40px;
    opacity: 0.40;
    
}

.login-box{
    float: right;
}

.align-c{
    text-align: center;
}

.nav-bar-ele{
    height: 50px;
    padding: 5px;
}

.submit-btn{
    margin-left: 80%;
}

.formularz{
    margin-top: 20px;
    background: #f2f2f2;
    padding: 10px;
}

.og-card{
    margin: 15px;
    display: flex;
}



@media (min-width: 576px) {
    .card-columns {
        column-count: 1;
    }
}

@media (min-width: 768px) {
    .card-columns {
        column-count: 2;
    }
}

@media (min-width: 992px) {
    .card-columns {
        column-count: 3;
    }
}
